<html>
<body>

<div style="border: 2px solid #DFDFDE;
  padding: 20px;
  border-radius: 25px;
  background-color: #8D8DAA">
  <h4 style="color:#fff;
margin-left:25px;
font-family: Helvetica, sans-serif;">Merhaba,</h4>
  <h5 style="color:#fff;
margin-left:25px;
font-family: Helvetica, sans-serif;">Uygulamamız üzerinden <a href="https://www.google.com" style="color:white">Unity Developer ilanınıza</a> başvuru yapıldı. İlgili kişinin özgeçmişi ektedir, değerlendirilmesini rica ederiz.<br/><br/>İyi çalışmalar.</h5>
</div>

</body>
</html>
